@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Poppins:wght@300;400&family=Sometype+Mono&display=swap"); /* Add a black background color to the top navigation */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9f9f9;
  color: #0d0d0d;
  box-sizing: border-box;
}

.dark-mode {
  background-color: #080523;
  color: #f9f9f9;
}

.topnav {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s all;
  position: sticky;
  top: 5px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  font-family: "poppins", sans-serif;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.5s all;
  text-transform: capitalize;
}

/* Change the color of links on hover */
.topnav a:hover:not(:last-child) {
  background-color: #003cff;
}

/* Add an active class to highlight the current page */
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.main-port-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin: 3px;
  height: 45vh;
  border-radius: 4px;
}

.text-p-con-m {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0 0 0 1rem;
}

.img-section-p-con-m {
  background-image: url(./assets/person-front-computer-working-html\ \(1\).jpg);
  background-size: cover;
  background-position: center;
  width: 40%;
  -webkit-clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0% 100%);
}

.heading-profile {
  font-family: "poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background: linear-gradient(45deg, #0000ff, #ff00cc);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bolder;
  font-size: 1.5rem;
}

.button-contain-p-con {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.text-p-con {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.link-p-con {
  padding: 10px 16px;
  text-decoration: none;
  color: #fff;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 6px;
  background-color: #3d3dff;
}

.link-p-con:hover {
  background-color: #4b4bfe;
  transition: 0.2s ease-in-out;
}

@media only screen and (max-width: 1024px) {
  .img-section-p-con-m {
    display: none;
  }
  .text-p-con-m {
    width: 100%;
  }
  .main-port-container {
    height: -moz-max-content;
    height: max-content;
  }
  .link-p-con {
    font-size: 0.8rem;
    padding: 8px 10px;
  }
}
.heading-contents {
  font-size: 1.8rem;
  font-family: "poppins", sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 1rem;
}

.skill-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-top: 1rem;
}

.img-sk {
  width: 240px;
  height: 350px;
  border-radius: 25px;
  box-shadow: 0px 0px 100rem 0.1px #426eff;
}

.img-sk:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.text-section-sk {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-sk {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-shadow: 0px 0px 100px #426eff;
}

@media only screen and (max-width: 760px) {
  .skill-container {
    flex-direction: column;
    align-items: center;
  }
  .text-section-sk {
    width: 100%;
  }
  .text-sk {
    font-size: 0.8rem;
  }
  .img-sk:hover {
    transform: scale(1);
  }
  .img-sk {
    width: 180px;
    height: 260px;
  }
  .ed-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .text-ed {
    font-size: 0.8rem;
  }
  .text-contain-ed {
    width: 100%;
  }
}
.ed-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin: 3px;
}

.img-ed {
  width: 250px;
  height: 380px;
  border-radius: 25px;
  box-shadow: 0px 0px 100rem 0.1px #426eff;
}

.img-ed:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.text-contain-ed {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "poppins", sans-serif;
  font-size: 1.2rem;
}

.text-ed {
  text-shadow: 0px 0px 100px #426eff;
}

@media only screen and (max-width: 760px) {
  .text-contain-ed {
    width: 100%;
  }
  .img-ed {
    width: 180px;
    height: 280px;
  }
  .img-ed:hover {
    transform: scale(1);
  }
}
.img-ex {
  width: 250px;
  height: 350px;
}

@media only screen and (max-width: 760px) {
  .img-ex {
    width: 180px;
    height: 260px;
  }
}
.lang-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
}

.lang-base-contain {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 0.5rem;
}

.lang-base-heading {
  font-family: "poppins", sans-serif;
  font-weight: bold;
  opacity: 0.8;
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: left;
  width: 40%;
  display: flex;
  justify-content: center;
}

.lang-icon-contain {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.icon-lang {
  font-size: 3rem;
}

.icon-lang:hover {
  transform: scale(1.8);
  transition: 0.2s all;
  text-shadow: 0px 0px 50px #003cff;
}

.bxl-html5 {
  color: #ff7b00;
}

.bxl-css3 {
  color: #4b4bfe;
}

.bxl-javascript {
  color: #ffea00;
}

.bxl-react {
  color: #0000ff;
}

.bxl-bootstrap {
  color: #0000ff;
}

.bxl-tailwind-css {
  color: #0000ff;
}

.bxl-nodejs {
  color: #00ff33;
}

.bxl-go-lang {
  color: red;
}

.bxl-python {
  color: rgb(0, 177, 0);
}

@media only screen and (max-width: 330px) {
  .icon-lang {
    font-size: 2rem;
  }
}
.col-container {
  display: flex;
  justify-content: space-evenly;
  height: 20vh;
  border-radius: 6px;
  align-items: center;
  background-color: rgba(105, 140, 255, 0.3490196078);
  box-shadow: 0px 0px 100rem 0.1px #426eff;
}

.dark-mode .col-container {
  background-color: #426eff;
}

.col-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading-col {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.text-col {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-family: "poppins", sans-serif;
  text-transform: capitalize;
  opacity: 0.9;
}

.col-icons {
  font-size: 1.5rem;
}

@media only screen and (max-width: 766px) {
  .col-container {
    flex-wrap: wrap;
    gap: 1rem;
    height: -moz-max-content;
    height: max-content;
    padding: 10px 0;
  }
  .heading-col {
    font-size: 1rem;
  }
  .text-col {
    font-size: 0.8rem;
  }
}
#footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.1);
}

.heading-footer {
  font-family: "poppins", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.footer-info-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
}

.footer-info-list {
  padding: 10px 16px;
  display: block;
  border-radius: 6px;
}

.footer-hyper-links {
  text-decoration: none;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #000;
}

.footer-info-list:hover {
  background-color: #0000ff;
  transition: 0.5s all;
}

.footer-info-list:hover .footer-hyper-links {
  color: #fff;
  transition: 0.5s all;
}

.r-1-footer:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ex-items {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  gap: 1rem;
}

.ex-link {
  color: #131313;
  font-size: 2rem;
  opacity: 0.9;
}

.footer-icons:hover {
  transform: scale(1.5);
  transition: 0.2s ease-in-out;
}

@media only screen and (max-width: 877px) {
  #footer {
    flex-direction: column;
  }
  .heading-footer {
    margin: 5px 0 0 10px;
  }
  .ex-link {
    font-size: 1.9rem;
  }
}
.dark-mode .footer-hyper-links {
  color: #fff;
}

.dark-mode .footer-icons {
  color: #fff;
}

.serv-container {
  display: flex;
  margin: 3px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.serv-contain {
  width: 300px;
  height: 400px;
  border-radius: 6px;
  padding: 5px;
  background-color: rgba(105, 140, 255, 0.3490196078);
  box-shadow: 0px 0px 100rem 0.1px #426eff;
}

.img-contain-serv {
  width: 100%;
  height: 45%;
  border-radius: 6px;
  overflow: hidden;
}

.img-serv {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transition: 0.6s;
}

.serv-contain:hover .img-serv {
  transform: scale(1.2);
  z-index: 0;
  transform-origin: 50% 50%;
  display: block;
}

.serv-base-config {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  padding: 0 0 0 4px;
}

.link-heading-serv {
  text-decoration: none;
  margin: auto 0;
}

.bx-rotate-90 {
  font-size: 2rem;
  color: #0d0d0d;
}

.heading-serv {
  font-family: "poppins", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: capitalize;
  display: flex;
  justify-content: start;
  margin: auto 0;
}

.text-serv {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  opacity: 0.8;
}

.dark-mode .bx-rotate-90 {
  color: #fff;
}

.proj-base-contain {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.proj-contain {
  width: 300px;
  border-radius: 6px;
  background-color: rgba(105, 140, 255, 0.3490196078);
  box-shadow: 0px 0px 100rem 0.1px #426eff;
  padding: 6px;
  margin: 0 0 10px 0;
}

.heading-proj {
  font-family: "poppins", sans-serif;
  font-weight: bold;
  margin: 0 0 0 4px;
  font-size: 1.2rem;
}

.text-proj {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-transform: capitalize;
}

.button-base-proj {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  margin: auto;
}

.link-proj {
  padding: 4px 15px;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: capitalize;
  color: #fff;
  background-color: #003cff;
  border-radius: 8px;
}

.bx-tada {
  font-size: 1.5rem;
}

.form-base-contain {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.5rem;
}

#form-1 {
  display: flex;
  justify-content: start;
  width: 300px;
  border-radius: 6px;
  background-color: rgba(105, 140, 255, 0.3490196078);
  box-shadow: 0px 0px 100rem 0.1px #426eff;
  flex-direction: column;
}

.label-config-form {
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 6px;
  font-family: "poppins", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}

.icon-form {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  margin: auto;
}

.form-input {
  display: flex;
  justify-content: start;
  margin: auto auto auto 0;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-transform: capitalize;
  border: none;
  outline: none;
  padding: 10px 35px;
  border-radius: 6px;
}

::-moz-placeholder {
  color: #000;
}

::placeholder {
  color: #000;
}

.label-config-form-2 {
  display: flex;
  justify-content: start;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: bold;
  gap: 0.5rem;
  font-family: "poppins", sans-serif;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  padding: 6px;
}

#textarea {
  display: flex;
  justify-content: start;
  border: none;
  outline: none;
  border-radius: 6px;
  font-family: "poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: auto;
  padding: 10px 10px;
}

.form-link {
  display: flex;
  justify-content: start;
  padding: 5px 16px;
  text-decoration: none;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin: auto auto 10px 12px;
  border-radius: 6px;
  color: #fff;
  background-color: #003cff;
  text-transform: capitalize;
}

.heading-contents-blog {
  font-size: 1.8rem;
  font-family: "poppins", sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 1rem;
  display: flex;
  justify-content: start;
  gap: 0.5rem;
}

.blog-heading-icon {
  font-size: 2.5rem;
}

.bl-b-container {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.bl-b-contain {
  background-color: rgba(105, 140, 255, 0.3490196078);
  box-shadow: 0px 0px 100rem 0.1px #426eff;
  border-radius: 6px;
  padding: 10px;
  width: 45%;
}

.heading-area-bl-b {
  display: flex;
  justify-content: start;
  gap: 1rem;
  align-items: center;
}

.username-bl-b {
  font-family: "poppins", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.date-bl-b {
  border-left: 2px solid #000;
  padding: 0 0 0 4px;
  font-family: monospace;
  font-size: 1rem;
}

.logo-blog {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.text-contain-bl-b {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.heading-text-bl-b {
  font-family: "poppins", sans-serif;
  font-weight: bold;
  opacity: 0.9;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.text-bl-b {
  padding: 0;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-transform: capitalize;
  opacity: 1;
  margin: auto;
  display: flex;
  justify-content: center;
}

.link-bl-b {
  padding: 5px 16px;
  display: flex;
  justify-content: start;
  margin: 1rem auto auto 0;
  text-decoration: none;
  gap: 0.5rem;
  color: #fff;
  background-color: #003cff;
  border-radius: 6px;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

@media only screen and (max-width: 768px) {
  .bl-b-contain {
    width: 100%;
  }
  .logo-blog {
    width: 40px;
    height: 40px;
  }
  .heading-area-bl-b {
    gap: 0.4rem;
  }
  .username-bl-b {
    font-size: 0.8rem;
    text-wrap: nowrap;
  }
  .date-bl-b {
    font-size: 0.8rem;
  }
  .heading-text-bl-b {
    font-size: 0.9rem;
    text-transform: none;
  }
  .text-bl-b {
    font-size: 0.8rem;
  }
  .link-bl-b {
    font-size: 0.8rem;
  }
  .icon-bl-b {
    font-size: 1.2rem;
  }
}
.g-base-main-container {
  display: flex;
  justify-content: space-between;
  height: 40vh;
  margin: 3px;
  gap: 1rem;
}

.img-section-g-main-container {
  width: 50%;
  -webkit-clip-path: polygon(0 0, 88% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 88% 0, 100% 100%, 0% 100%);
  overflow: hidden;
}

.text-contain-g-main {
  width: 50%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 0.5srem;
}

.img-g-container {
  width: 100%;
  height: 100%;
  position: center;
  transition: 0.4s all;
}

.g-base-main-container:hover .img-g-container {
  transform: scale(1.2);
  transform-origin: 50% 50%;
}

.heading-g-main {
  display: flex;
  justify-content: start;
  gap: 0.3rem;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: bolder;
  font-size: 1.8rem;
  text-transform: capitalize;
}

.icon-g-main {
  font-size: 3rem;
  color: #003cff;
}

.text-g-main {
  font-family: "poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
}

.comig-text {
  font-family: "poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
}

@media only screen and (max-width: 914px) {
  .img-section-g-main-container {
    display: none;
  }
  .text-contain-g-main {
    width: 100%;
    gap: 0;
  }
  .g-base-main-container {
    height: -moz-max-content;
    height: max-content;
  }
  .heading-g-main {
    font-size: 1.2rem;
  }
  .icon-g-main {
    font-size: 1.5rem;
  }
  .text-g-main, .comig-text {
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=main.css.map */