@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&family=Poppins:wght@300;400&family=Roboto&family=Sometype+Mono&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

section {
  margin: 4px;
}

#f-footer {
  margin: 4px;
}

body {
  background-color: #f9f9f9;
  color: #0d0d0d;
}

.dark-mode {
  background-color: #080523;
  color: #f9f9f9;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgba(105, 140, 255, 0.3490196078);
  border-radius: 6px;
  margin: 4px;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "poppins", sans-serif;
  font-weight: 450;
}

/* Change the color of links on hover */
.topnav a:hover:not(:last-child) {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #003cff;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  color: white;
}

.bx-code-alt {
  font-size: 1.2rem;
}

.topnav a:last-child {
  color: #fff;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav {
    background-color: #003cff;
  }
  .topnav a {
    color: #fff;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.main-port-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin: 3px;
  height: 45vh;
  border-radius: 4px;
}

.text-p-con-m {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0 0 0 1rem;
}

.img-section-p-con-m {
  background-image: url(./assets/person-front-computer-working-html\ \(1\).jpg);
  background-size: cover;
  background-position: center;
  width: 40%;
  -webkit-clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0% 100%);
}

.heading-profile {
  font-family: "alkatra", cursive;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background: linear-gradient(45deg, #0000ff, #ff00cc);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bolder;
  font-size: 1.5rem;
  display: flex;
  justify-content: start;
  margin: auto auto auto 0;
}

.button-contain-p-con {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.text-p-con {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.link-p-con {
  padding: 10px 16px;
  text-decoration: none;
  color: #fff;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 6px;
  background-color: #3d3dff;
}

.link-p-con:hover {
  background-color: #4b4bfe;
  transition: 0.2s ease-in-out;
}

@media only screen and (max-width: 1024px) {
  .img-section-p-con-m {
    display: none;
  }
  .text-p-con-m {
    width: 100%;
  }
  .main-port-container {
    height: -moz-max-content;
    height: max-content;
  }
  .link-p-con {
    font-size: 0.8rem;
    padding: 8px 10px;
  }
}
.heading-contents {
  font-size: 1.8rem;
  font-family: "poppins", sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 1rem;
  margin-left: 4px;
}

@media only screen and (max-width: 768px) {
  .heading-contents {
    font-size: 1.2rem;
  }
}
.heading-contents-p {
  font-size: 1.8rem;
  font-family: "poppins", sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 1rem;
}

.dark-mode .heading-contents-p {
  color: #a600ff;
}

.heading-contents-pr {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 2rem 0 0 0.5rem;
}

.dark-mode .heading-contents-pr {
  color: #a600ff;
}

.skill-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-top: 1rem;
}

.img-sk {
  width: 240px;
  height: 350px;
  border-radius: 25px;
  box-shadow: 0px 0px 100rem 0.1px #426eff;
  transition: 0.5s ease-in-out;
}

.img-sk:hover {
  transform: scale(1.2);
}

.text-section-sk {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-sk {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-shadow: 0px 0px 100px #426eff;
}

@media only screen and (max-width: 760px) {
  .skill-container {
    flex-direction: column;
    align-items: center;
  }
  .text-section-sk {
    width: 100%;
  }
  .text-sk {
    font-size: 0.8rem;
  }
  .img-sk:hover {
    transform: scale(1);
  }
  .img-sk {
    width: 180px;
    height: 260px;
  }
  .ed-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .text-ed {
    font-size: 0.8rem;
  }
  .text-contain-ed {
    width: 100%;
  }
}
.ed-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin: 3px;
}

.img-ed {
  width: 250px;
  height: 380px;
  border-radius: 25px;
  box-shadow: 0px 0px 100rem 0.1px #426eff;
  transition: 0.8s ease-in-out;
}

.img-ed:hover {
  transform: scale(1.2);
}

.text-contain-ed {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "poppins", sans-serif;
  font-size: 1.2rem;
}

.text-ed {
  text-shadow: 0px 0px 100px #426eff;
}

@media only screen and (max-width: 760px) {
  .text-contain-ed {
    width: 100%;
  }
  .img-ed {
    width: 180px;
    height: 280px;
  }
  .img-ed:hover {
    transform: scale(1);
  }
}
.img-ex {
  width: 250px;
  height: 350px;
}

@media only screen and (max-width: 760px) {
  .img-ex {
    width: 180px;
    height: 260px;
  }
}
.lang-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
}

.lang-base-contain {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 0.5rem;
}

.lang-base-heading {
  font-family: "poppins", sans-serif;
  font-weight: bold;
  opacity: 0.8;
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: left;
  width: 40%;
  display: flex;
  justify-content: center;
}

.lang-icon-contain {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.icon-lang {
  font-size: 3rem;
  transition: 0.2s all;
}

.icon-lang:hover {
  transform: scale(1.8);
  text-shadow: 0px 0px 50px #003cff;
}

.bxl-html5 {
  color: #ff7b00;
}

.bxl-css3 {
  color: #4b4bfe;
}

.bxl-javascript {
  color: #ffea00;
}

.bxl-react {
  color: #0000ff;
}

.bxl-bootstrap {
  color: #0000ff;
}

.bxl-tailwind-css {
  color: #0000ff;
}

.bxl-nodejs {
  color: #00ff33;
}

.bxl-go-lang {
  color: red;
}

.bxl-python {
  color: rgb(0, 177, 0);
}

@media only screen and (max-width: 330px) {
  .icon-lang {
    font-size: 2rem;
  }
}
.col-container {
  display: flex;
  justify-content: space-evenly;
  height: 20vh;
  border-radius: 6px;
  align-items: center;
  background-color: rgba(105, 140, 255, 0.3490196078);
}

.dark-mode .col-container {
  background-color: rgba(105, 140, 255, 0.3490196078);
}

.col-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading-col {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.text-col {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-family: "poppins", sans-serif;
  text-transform: capitalize;
  opacity: 0.9;
}

.col-icons {
  font-size: 1.5rem;
}

@media only screen and (max-width: 766px) {
  .col-container {
    flex-wrap: wrap;
    gap: 1rem;
    height: -moz-max-content;
    height: max-content;
    padding: 10px 0;
  }
  .heading-col {
    font-size: 1rem;
  }
  .text-col {
    font-size: 0.8rem;
  }
}
#f-footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(105, 140, 255, 0.3490196078);
  margin-top: 2rem;
  padding: 0.8rem 0.8rem;
  border-radius: 6px;
  box-sizing: border-box;
}

.f-base-contain {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.2rem;
  padding: 0;
  margin: auto auto auto 0;
}

.f-prof-container {
  display: flex;
  justify-content: start;
  margin: auto;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  gap: 1rem;
}

.f-cop-container {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  opacity: 0.9;
  text-transform: capitalize;
}

.logo-f {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.f-base-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
  width: 30%;
}

.f-tr-contain {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.f-tr-contain:last-child {
  gap: 0.5rem;
}

.link-tr-footer {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-decoration-color: #9c00a4;
  text-decoration-thickness: 2px;
  color: #000;
}

.dark-mode .link-tr-footer {
  color: #fff;
}

.link-tr-footer:hover {
  color: #a600ff;
  transition: 0.2s all;
}

.footer-icon {
  font-size: 2rem;
  transition: 0.4s all;
  color: #000;
}

.dark-mode .footer-icon {
  color: #f5f5f5;
}

.dark-mode .footer-icon:hover {
  color: #f9f9f9;
}

.footer-icon:hover {
  transform: scale(1.5);
  color: #0d0d0d;
}

@media only screen and (max-width: 944px) {
  #f-footer {
    padding: 2rem 1rem;
    flex-direction: column;
  }
  .logo-f {
    width: 45px;
    height: 45px;
  }
  .f-prof-container {
    text-wrap: nowrap;
    gap: 0.2rem;
    font-size: 1.2rem;
    justify-content: center;
  }
  .f-base-contain {
    flex-direction: column;
  }
  .f-cop-container {
    font-size: 1rem;
    opacity: 0.8;
    text-transform: capitalize;
    justify-content: center;
  }
  .f-base-container {
    flex-direction: column;
    width: 100%;
    margin: 1rem 0.5rem;
    gap: 1rem;
  }
  .f-base-contain {
    gap: 0.5rem;
  }
  .link-tr-footer {
    font-size: 0.8rem;
  }
}
.serv-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.serv-base-contain {
  width: 400px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 0.5rem;
}

.heading-serv {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0 0 0 4px;
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
  color: #000;
  text-decoration: none;
}

.img-contain-serv {
  overflow: hidden;
}

.bx-info-circle {
  font-size: 2rem;
  color: #003cff;
}

.img-serv {
  width: 100%;
  height: 100%;
  transition: 0.4s all;
}

.serv-base-contain:hover .img-serv {
  scale: 1.2;
}

.text-serv {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.dark-mode .heading-serv {
  color: #fff;
}

@media only screen and (max-width: 1024px) {
  .serv-container {
    gap: 2rem;
  }
  .serv-base-contain {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  }
  .heading-serv {
    font-size: 0.9rem;
  }
  .bx-info-circle {
    font-size: 1.2rem;
  }
  .text-serv {
    font-size: 0.8rem;
  }
}
.project-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.pr-base-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 6px;
  background-color: rgba(105, 140, 255, 0.3490196078);
  width: 50%;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.heading-pr-contain {
  display: flex;
  justify-content: start;
  gap: 1rem;
  align-items: center;
}

.heading-pr {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.bxs-book-open {
  font-size: 2rem;
}

.text-contain-pr {
  font-size: 1rem;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}

.button-pr-contain {
  display: flex;
  justify-content: start;
  gap: 1.5rem;
  align-items: center;
}

.link-pr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  font-family: "poppins", sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 450;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  padding: 5px 10px;
  border-radius: 6px;
  background-color: #003cff;
}

.link-pr:hover {
  transition: 0.4s all;
  background-color: #a9a9ff;
  color: #000;
}

@media only screen and (max-width: 973px) {
  .project-container {
    margin: 4px;
    flex-direction: column;
  }
  .pr-base-container {
    width: 100%;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 375px) {
  .pr-base-container {
    justify-content: space-between;
  }
  .heading-pr-contain {
    gap: 0.5rem;
  }
  .heading-pr {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .text-contain-pr {
    font-size: 0.9rem;
  }
  .link-pr {
    font-size: 0.8rem;
  }
}
.form-container {
  display: flex;
  justify-content: start;
  gap: 2rem;
  background-color: rgba(105, 140, 255, 0.3490196078);
  border-radius: 8px;
  padding: 1rem 0.5rem;
}

.form-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  gap: 1rem;
}

.form-base-orgin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.label-form {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins", sans-serif;
  gap: 0.4rem;
  font-weight: 400;
  font-size: 1rem;
  text-transform: capitalize;
}

.icon-form {
  display: flex;
  justify-content: start;
  margin: auto 0;
  font-size: 1.2rem;
}

.form-input {
  padding: 9px 2rem;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-transform: capitalize;
  border-radius: 10px;
  border: none;
  outline: none;
}

.form-2 {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 20px;
}

.form-base-orgin-2 {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.lable-form-2 {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-size: 1rem;
  gap: 0.3rem;
  text-transform: capitalize;
  font-weight: 400;
}

.input-form-2 {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0.5rem 0.5rem;
  width: fixed;
  font-family: "poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
}

.button-submit {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: auto 0;
  text-decoration: none;
  font-family: "poppins", sans-serif;
  font-weight: 450;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
  transition: 0.4s all;
}

.button-submit:hover {
  background-color: #003cff;
  color: #fff;
}

.form-img {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: start;
  margin: auto 0;
}

@media only screen and (max-width: 1024px) {
  .serv-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0 2px;
    margin-bottom: 1rem;
  }
  .serv-contain {
    flex-direction: column;
    width: 300px;
    height: -moz-max-content;
    height: max-content;
    gap: 0.2rem;
  }
  .img-contain-serv {
    width: 100%;
    height: 50%;
  }
  .text-contain-serv {
    width: 100%;
    height: 50%;
  }
  .serv-contain-ee {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 1rem;
    margin: 0 2px;
    display: flex;
    justify-content: center;
  }
  .img-contain-serv-ee {
    width: 100%;
    height: 50%;
  }
  .text-contain-serv-ee {
    width: 100%;
    height: 50%;
  }
  .form-container {
    flex-direction: column;
  }
  .form-img {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
  }
}
.heading-contents-blog {
  font-size: 1.8rem;
  font-family: "poppins", sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 1rem;
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  box-sizing: border-box;
  margin-left: 1rem;
}

.blog-heading-icon {
  font-size: 2.5rem;
}

@media only screen and (max-width: 768px) {
  .heading-contents-blog {
    font-size: 1.2rem;
    gap: 0.1rem;
  }
  .blog-heading-icon {
    font-size: 1.8rem;
  }
}
.bb-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.bb-base-contain {
  width: 50%;
  height: -moz-min-content;
  height: min-content;
  background-color: rgba(105, 140, 255, 0.3490196078);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 0.5rem;
}

.bb-config {
  display: flex;
  justify-content: start;
  margin: auto 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.heading-config-bb {
  font-family: "poppins", sans-serif;
  font-weight: 450;
  font-size: 1.1rem;
}

.heading-base-contain-bb {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  align-items: center;
}

.profile-logo-bb {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.2s all;
}

.name-bb {
  text-transform: capitalize;
  font-family: "poppins", sans-serif;
  font-weight: 450;
  font-size: 1.2rem;
}

.date-bb {
  font-family: monospace;
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.8;
  border-left: 2px solid #000;
  padding: 0 0 0 5px;
}

.text-contain-bb {
  display: flex;
  justify-content: start;
  margin: auto 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.text-bb {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-transform: capitalize;
}

.button-base-bb {
  display: flex;
  justify-content: start;
  margin: auto 0;
  align-items: center;
  padding: 1rem;
}

.link-bb {
  padding: 8px 16px;
  display: flex;
  justify-content: start;
  margin: auto 0;
  align-items: center;
  gap: 0.3rem;
  text-decoration: none;
  font-family: "poppins", sans-serif;
  font-weight: 450;
  font-size: 1rem;
  text-transform: capitalize;
  color: #f9f9f9;
  border-radius: 8px;
  background-color: #003cff;
  transition: 0.2s all;
  position: relative;
}

.icon-bb {
  font-size: 1.5rem;
}

.link-bb:hover {
  background-color: rgba(105, 140, 255, 0.3490196078);
  color: #0d0d0d;
  font-size: 500;
}

@media only screen and (max-width: 768px) {
  .bb-container {
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .bb-base-contain {
    width: 100%;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 425px) {
  .text-contain-bb {
    border-bottom-right-radius: 0px;
  }
  .heading-base-contain-bb {
    gap: 0.2rem;
  }
  .profile-logo-bb {
    width: 35px;
    height: 35px;
  }
  .name-bb {
    font-size: 0.9rem;
    text-wrap: nowrap;
  }
  .date-bb {
    font-size: 0.9rem;
  }
  .text-bb {
    font-size: 0.8rem;
  }
  .link-bb {
    gap: 0.2rem;
    font-size: 0.9rem;
    padding: 7px 10px;
  }
  .icon-bb {
    font-size: 1rem;
  }
  .heading-config-bb {
    font-size: 0.8rem;
    font-weight: 500;
  }
}
.g-main-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  height: 45vh;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgba(105, 140, 255, 0.3490196078);
}

.g-base-contain, .g-contain-base-sec-main {
  width: 50%;
}

.g-base-contain {
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.img-g-main-base {
  width: 100%;
  height: 100%;
  transition: 0.4s all;
}

.g-main-container:hover .img-g-main-base {
  transform: scale(1.5);
}

.g-contain-base-sec-main {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1.5px solid #999;
  border-right: 1.5px solid #999;
  border-top: 1.5px solid #999;
  border-radius: 15px;
  border-right-width: 5px;
}

.head-g-base-contain {
  display: flex;
  justify-content: center;
  margin: auto 0;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-family: "poppins", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  align-items: center;
}

.bxs-invader {
  font-size: 2rem;
}

.text-g-main-contain {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  margin: auto;
  text-transform: capitalize;
}

.shop-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.shop-contain-base {
  width: 300px;
  border-radius: 25px;
  background-color: rgba(105, 140, 255, 0.3490196078);
  box-shadow: 0px 0px 50rem 0.1px #426eff;
  padding: 6px;
  height: 450px;
}

.shop-img-section {
  width: 100%;
  height: 50%;
  overflow: hidden;
  border-radius: 25px;
}

.img-shop {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-image: url(./assets/hub.jpg);
  background-size: cover;
  background-position: center;
  transition: 0.4s all;
}

.shop-contain-base:hover .img-shop {
  transform: scale(1.3);
}

.shop-text-contain {
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.heading-shop-section {
  font-family: "poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: start;
  margin: 5px auto auto 0;
}

.text-shop {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  opacity: 0.9;
  display: flex;
  justify-content: start;
  margin: auto;
}

.button-disc-shop {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.8rem;
  align-items: center;
  margin-bottom: 10px;
}

.shop-link {
  display: flex;
  justify-content: start;
  gap: 0.2rem;
  text-decoration: none;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  padding: 4px 8px;
  align-items: center;
  background-color: #0000ff;
  color: #fff;
  text-transform: capitalize;
  text-wrap: nowrap;
  border-radius: 15px;
}

.shop-link:hover {
  background-color: #3b3bff;
}

.shop-icon {
  font-size: 1.5rem;
}

.bxl-amazon {
  color: #ffbb00;
}

.formin-1 {
  background-image: url(./assets/laptop.jpg);
}

.formin-2 {
  background-image: url(./assets/keyboard.jpg);
}

.formin-3 {
  background-image: url(./assets/mouse.jpg);
}

.formin-4 {
  background-image: url(./assets/hub.jpg);
}

.formin-5 {
  background-image: url(./assets/pendrive.jpg);
}

.formin-6 {
  background-image: url(./assets/ssd2.jpg);
}

.formin-7 {
  background-image: url(./assets/headphone.jpg);
}

.formin-8 {
  background-image: url(./assets/buds_image.jpg);
}

.formin-9 {
  background-image: url(./assets/realme\ buds.jpg);
}

.formin-10 {
  background-image: url(./assets/pad.jpg);
}

.formin-12 {
  background-image: url(./assets/stand.jpg);
}

.formin-13 {
  background-image: url(./assets/bag.jpg);
}

.formin-14 {
  background-image: url(./assets/tab3.jpg);
}

.formin-15 {
  background-image: url(./assets/codw.jpg);
}

.formin-16 {
  background-image: url(./assets/oneplus_pcv02-1.jpg);
}

.testi-container-base {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}

.testi-container {
  border-radius: 6px;
  padding: 10px 5px;
  background-color: rgba(105, 140, 255, 0.3490196078);
  width: 50%;
}

.logo-testi {
  display: flex;
  justify-content: start;
  gap: 0;
}

.bxs-quote-right {
  display: flex;
  justify-content: start;
  margin: auto 0;
  font-size: 2rem;
  padding: 0;
}

.text-testi {
  padding: 10px 0;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}

.testi-name-contain {
  padding: 5px 0 5px 10px;
}

.testi-name-1 {
  display: flex;
  justify-content: start;
  margin: auto;
  font-family: "poppins", sans-serif;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.testi-occ {
  display: flex;
  justify-content: start;
  margin: auto;
  font-family: "poppins", sans-serif;
  font-size: 1.2rem;
  text-transform: capitalize;
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  .testi-container-base {
    flex-wrap: wrap;
  }
  .testi-container {
    width: 100%;
  }
  .text-testi {
    font-size: 0.8rem;
  }
  .testi-name-1, .testi-occ {
    font-size: 0.9rem;
  }
  .bxs-quote-right {
    font-size: 1rem;
  }
}
.hover-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-contain {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  padding: 0;
  gap: 0.2rem;
  text-decoration: none;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-transform: capitalize;
  color: #000;
  align-items: center;
}

.bx-mouse {
  font-size: 3rem;
  color: #0000ff;
  transition: 0.4s all;
}

.hover-contain:hover .bx-mouse {
  transform: scale(1.5);
  color: #0d0d0d;
  text-shadow: 0px 0px 50rem #426eff;
}

.dark-mode .hover-contain:hover .bx-mouse {
  color: #fff;
}

.dark-mode .hover-contain {
  color: #fff;
}

@media only screen and (max-width: 1024px) {
  .hover-container {
    display: none;
  }
}
.b-b-1-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 0.2rem;
}

.heading-b-b-contain {
  display: flex;
  justify-content: start;
  margin: auto 0;
  box-sizing: border-box;
  gap: 0.3rem;
  padding: 1rem;
  align-items: center;
  width: 70%;
  margin: 4px;
  font-family: "poppins", sans-serif;
  font-weight: 450;
  font-size: 1.2rem;
  border-radius: 10px;
}

.bx-paperclip {
  font-size: 1.5rem;
}

.text-b-b-contain {
  display: flex;
  justify-content: start;
  margin: auto 0;
  width: 80%;
  margin: 4px;
  padding: 1rem;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 10px;
  background-color: rgba(105, 140, 255, 0.3490196078);
}

.code-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.pre-code {
  overflow: auto;
  background-color: rgba(105, 140, 255, 0.0274509804);
  border-radius: 10px;
  padding: 1rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

@media only screen and (max-width: 1018px) {
  .heading-b-b-contain, .text-b-b-contain {
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0;
  }
}
@media only screen and (max-width: 425px) {
  .heading-b-b-contain {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 2px 0;
  }
  .text-b-b-contain {
    font-size: 0.8rem;
    padding: 0.5rem;
    border-bottom-right-radius: 0px;
  }
  .code {
    font-size: 0.7rem;
  }
}
.b-b-ul-container {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.b-b-list-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgba(105, 140, 255, 0.3490196078);
  padding: 1rem;
  border-radius: 10px;
  list-style-position: inside;
}

.b-b-items {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  .b-b-items {
    font-size: 0.8rem;
  }
}
.skills {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.skill-name {
  font-size: 18px;
  font-weight: 700;
  color: #0d0d0d;
  text-transform: uppercase;
  margin: 20px 0;
  font-family: "poppins", sans-serif;
}

.skill-bar {
  height: 14px;
  background: #282828;
  border-radius: 3px;
}

.skill-per {
  height: 14px;
  background: #d13639;
  border-radius: 3px;
  position: relative;
  animation: fillBars 2.5s 1;
}

.skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: #f1f1f1;
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f1f1f1;
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillBars {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.skill-config {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: rgba(105, 140, 255, 0.3490196078);
  width: 50%;
  box-sizing: border-box;
  padding: 1rem;
  padding-bottom: 2rem;
  border-radius: 10px;
}

.dark-mode .skill-name {
  color: #f9f9f9;
}

.dark-mode .skill-per {
  color: #000;
}

@media only screen and (max-width: 768px) {
  .skill-config {
    width: 100%;
  }
}
.rr-bb {
  font-weight: 550;
  font-size: 1.5rem;
}/*# sourceMappingURL=main.css.map */